.mainMenu{
    display: flex;
    list-style: none;
}
.mainMenu__item {
    margin: 0 10px;
}

.mainMenu__link {
    border-radius: 5px;
    padding: 5px 25px;
    border: 1px solid #777;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.mainMenu__link_active {
    background-color: #3f51b5;
    color: #fff;
}