.fighters__list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.fighrerItem {
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    padding: 10px;
    flex: 0 0 47%;
    margin: 0 0 15px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fighrerItem__control {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-evenly;
}

.fighrerItem__text {
    margin: 0;
}